#box1{
    text-decoration: overline;
   
     
}

h1{
    margin-top: 24px;
    margin-bottom: 24px;
    padding-left: 16px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px
}
#content{
    outline: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    padding-left: 16px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px
}


.cntbox{
    display: inline-flex;
    outline: auto;
    background-color: white;
    height: 540px;
    width: 750px;
    margin-left: 100px;
    align-items: center;

}

.navbar{
    outline: auto;
    height: 400px;
    
}

#list1{
  list-style: none;
  display: inline;
  
  
}

.items{
  margin-left: 50px;
  margin-top: 50px;
  width: 200px;
  height: 50px;
    
}
